# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/
.pypirc

# PyInstaller
*.spec

# Testing
.coverage
.tox/
.nox/
.pytest_cache/

# Logs and debugging
*.log
logs/

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

